<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="icon" href="/img/记账本.png">
    <script type="text/javascript" src="/js/mui.js"></script>
    <script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="/js/uploadPreview.js"></script>
    <script type="text/javascript" src="/js/mui.zoom.js"></script>
    <script type="text/javascript" src="/js/mui.previewimage.js"></script>

    <link type="text/css" href="/css/mui.css" rel="stylesheet"/>
    <style type="text/css">
        body {
            font-family: "microsoft yahei";
        }
    </style>
</head>